<div class="section no-pad-bot" id="index-banner" ng-controller="homeCtrl" >
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Welcome to TODO List</h1>
        <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>

        <!-- TODO LIST -->
        <div class="row">
            <ul class="collection">
              <li class="collection-item avatar col s12 6m l6" ng-repeat="list in lists">
                  <div class="boxed">
                    <a href="#/list/{{ list.slug }}">
                        <i class="material-icons circle {{ list.color }}">{{ list.icon }}</i>
                        <span class="title">{{ list.name }}</span>
                        <p>{{ list.description }} </p>
                        <a href="#/edit/{{ list.slug }}" class="secondary-content"><i class="material-icons">edit</i></a>
                        <a href="#delete/{{ list.slug }}" class="secondary-content trash"><i class="material-icons">delete</i></a>
                    </a>
                  </div>
              </li>
            </ul>
        </div>
        <!-- END TODO LIST -->

        <!-- BUTTON CONTROLLERS -->
        <div class="row center">
            <a href="#" id="download-button" class="btn-large waves-effect waves-light orange card-panel hoverable">Agregar Nuevo</a>
        </div>
        <br><br>
    </div>
</div>